<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Dojo Survey</title>
</head>
<body>

    <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="location">Dojo Location:</label>
        <select id="location" name="location">
            <option value="arlington">Arlington</option>
            <option value="boise">Boise</option>
            <option value="los angeles">Los Angeles</option>
            <option value="dallas">Dallas</option>
            <option value="tulsa">Tulsa</option>
        </select>
        <br>
        <label for="fav">Favorite Language</label>
        <select id="fav" name="fav">
            <option value="python">Python</option>
            <option value="Java">Java</option>
            <option value="c++">C++</option>
            <option value="js">JavaScript</option>
        </select>
        <br>
        <label for="comment">Comment (optional)</label>
        <br>
        <textarea id="comment" name="comment" rows="8" cols="55"></textarea>
        <br>
        <input type="submit" value="Button">
    </form>
    
</body>
</html>